﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src='@Url.Content("~/Scripts/jquery-1.10.2.js")'></script>
</head>
<body>
     <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Task List</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="tasksTable">
                    <thead>
                        <tr>
                            <th style="padding-right: 50px;">Task Id</th>
                            <th style="padding-right: 50px;">Task Description</th>
                            <th>Completed</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div><input type="button" id="btnAdd" onclick="ShowTaskEntryForm();" value="Add Task" /></div>
    <div id="dvAddTask">
        <table>
            <tr>
                <td>Task Description</td><td><input type="text" id="txtDesc" /></td>
            </tr>
            <tr>
                <td>Is Task Completed</td>
                <td><input type="checkbox" id="chkCompleted" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" onclick="SaveTask();" id="btnSave" value="Save" /></td>
            </tr>
        </table>

    </div>

    <script type="text/javascript">
        function ShowTaskEntryForm() {
            $("#dvAddTask").css("display", "block");
        }
        function SaveTask()
        {
            $("#dvAddTask").css("display", "none");
            var taskData = {
                "Id": 0,
                "Description": $("#txtDesc").val(),
                "isCompleted": $("#chkCompleted").is(':checked')

            };
            $.ajax({
                type: "post",
                url: "http://localhost:10320/api/TaskManagement/" ,
                data: JSON.stringify(taskData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var checkedString = "";
                    if (data.IsCompleted)
                        checkedString = "checked='checked'";
                    $("#tasksTable tbody").append(
                 "<tr class='table'>" +
                   "<td>" + data.Id + "</td>" +
                   "<td>" + data.Description + "</td>" +
                   "<td><input type='checkbox'" + checkedString + " /></td>" +
                   "<td>" + '<input type="button" class="btnCls" id="btnEdit" onclick="EditTask(this,' + data.Id + ')" value="Save Status"  />' +
             "</td>" +
           "</tr>");

                    $("#txtDesc").val("");
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });

        }
        $(document).ready(function () {
            $("#dvAddTask").css("display", "none");
            GetAllTasks();
        });

        function EditTask(trObject,taskId)
        {
            var isCompleted = $(trObject).closest("tr").find("input[type='checkbox']").is(':checked');
            var taskData = {
                "Id": taskId,
                "Description":"",
                "isCompleted": isCompleted
                
            };
            $.ajax({
                type: "put",
                url: "http://localhost:10320/api/TaskManagement/" + taskId,
                data: JSON.stringify(taskData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
            
        }


        





      function GetAllTasks()
      {
          //debugger;
          jQuery.support.cors = true;
          $.ajax({
              url: 'http://localhost:10320/api/TaskManagement',
              type: 'GET',
              dataType: 'json',
              success: function (data) {
                  debugger;
                  if ($("#tasksTable tbody").length == 0) {
                      $("#tasksTable").append("<tbody></tbody>");
                  }
                  $.each(data, function (index, task) {
                      var checkedString = "";
                      if (task.IsCompleted)
                          checkedString = "checked='checked'";
                      $("#tasksTable tbody").append(
                 "<tr class='table'>" +
                   "<td>" + task.Id + "</td>" +
                   "<td>" + task.Description + "</td>" +
                   "<td><input type='checkbox'" + checkedString + " /></td>" +
                   "<td>" +'<input type="button" class="btnCls" id="btnEdit" onclick="EditTask(this,'+task.Id+')" value="Save Status"  />' +
             "</td>" +
           "</tr>");

                  })
              },
              error: function () {
                 
              }
          });

          


      }
  
    </script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
